$PLACEHOLDERS
    $AIM_PATH
$END
$FINISH_CONFIG
[Unit]
Description=Runs AimCLITool in Daemon mode.

[Service]
Type=simple
ExecStart=$AIM_PATH daemon run -v
Restart=always

[Install]
WantedBy=multi-user.target